<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs') %>
  <body>
    <%- include('../includes/navigation.ejs') %>

    <div class="container-main">
      <div class="shop-page-container">
        <h1>Nothing posted till now!</h1>
      </div>
    </div>
    <%- include('../includes/footer.ejs') %> <%- include('../includes/end.ejs')
    %>
  </body>
</html>
